<!doctype html>
<html lang="en">
<head>
    <%- include('./_head_shared_content'); %>
    <title>Browse</title>
</head>

<body class="body" id='atomic'>

<!-- Navbar -->
<div class="Mb(5px)">
    <%- include('./_navbar'); %>
</div>

<!-- Flash Message -->
<%- include('./_flashMessage') %>

<section class="body__expandingSection">
    <form class="container Mb(50px)" action="/browse/delete" method="POST">

        <!-- Paging display -->
        <div class="D(f) Jc(fe)"> 
            <p class="sans-sm sans-lg-@md text-gray-2"><%= startIndex %>-<%= stopIndex %> of <%= workoutCount %></p>
        </div>

        <!-- Button toolbar -->
        <div class="D(f) Jc(sb) Ai(c) gray-border-bottom">
            <div class="D(f) Ai(c)">
                <a class="iconGhostButton-gray My(15px) Mend(15px)" href="/newWorkout"><img class="H(15px) H(25px)--sm D(b)" src="/image/OpenIcon.svg" alt="OpenIcon" title="New Workout"></a>
                <button class="iconGhostButton-gray My(15px) " type="submit"><img class="H(15px) H(25px)--sm D(b)" src="/image/DeleteIcon.svg" alt="DeleteIcon" title="Delete Selected"></a>
            </div>
            <div class="D(f) Ai(c)">
                <!-- Previous Page Button -->
                <% if (isPrevAvail) { %>
                    <a class="iconGhostButton-gray My(15px) Mend(15px)" href="/browse?<%= query %>page=<%= prevPage %>"><img class="H(15px) H(25px)--sm D(b)" src="/image/LeftArrowIcon.svg" alt="LeftArrow" title="Previous Page"></a>
                <% } else { %>
                    <div class="iconGhostButton-gray My(15px) Mend(15px)"><img class="H(15px) H(25px)--sm D(b)" src="/image/LeftArrowIcon--disabled.svg" alt="LeftArrowDisabled" title="Previous Page"></div>
                <% } %>
                <!-- Next Page Button -->       
                <% if (isNextAvail) { %>
                    <a class="iconGhostButton-gray My(15px)" href="/browse?<%= query %>page=<%= nextPage %>"><img class="H(15px) H(25px)--sm D(b)" src="/image/RightArrowIcon.svg" alt="RightArrow" title="Next Page"></a>
                <% } else { %>
                    <div class="iconGhostButton-gray My(15px)"><img class="H(15px) H(25px)--sm D(b)" src="/image/RightArrowIcon--disabled.svg" alt="RightArrowDisabled" title="Next Page"></div>
                <% } %>
            </div>               
        </div>

        <!-- Workouts -->
        <div class="workout__row--header">                    
            <div class="workout__checkboxContainer"><input type="checkbox" name="selectAll" id="selectAll"></div>
            <div class="workout__dataContainer">
                <% if (sortDir === "1") { %>
                    <div class="workout__date"><a class="C(#000000) Td(n) D(f) Ai(c)" href="/browse/?sortKey=CreationDate&sortDir=-1">Date <img class="Mstart(0.5em) H(1em)" src="/image/UpArrowIcon.svg" alt="UpArrow" title="Asc"></a></div>
                <% } else { %>
                    <div class="workout__date"><a class="C(#000000) Td(n) D(f) Ai(c)" href="/browse/?sortKey=CreationDate&sortDir=1">Date <img class="Mstart(0.5em) H(1em)" src="/image/DownArrowIcon.svg" alt="DownArrow" title="Desc"></a></div>
                <% } %>
                <div class="workout__exerciseName">Exercise</div>
                <div class="workout__completedNumber">Total</div>
                <div class="workout__percentage">Percent</div>
            </div>
        </div>

        <% workouts && workouts.forEach(workout => { %>
            <div class="workout__row--hover">
                <div class="workout__checkboxContainer"><input class="workout__checkbox" type="checkbox" name="<%= workout._id %>" id="<%= workout._id %>"></div>
                <a class="workout__dataContainer" href="/detail/<%= workout._id %>/0">
                    <div class="workout__date">
                        <p class="workout__datePart"><%= workout.CreationDate.getFullYear() %>-<%= printf('%02d', workout.CreationDate.getMonth()+1) %>-<%= printf('%02d', workout.CreationDate.getDate()) %>,</p>
                        <%  let hours = workout.CreationDate.getHours();
                            if (hours === 0) {hours = 12;}
                            else if (hours > 12) {hours = hours - 12;} 
                            let am_pm = workout.CreationDate.getHours()/11 > 1 ? "PM" : "AM" %>
                        <p class="workout__timePart"><%= printf('%02d', hours) %>:<%= printf('%02d', workout.CreationDate.getMinutes()) %> <%= am_pm %></p>
                    </div>
                    <div class="workout__exerciseName"><%= workout.ExerciseName %></div>
                    <div class="workout__completedNumber"><%= workout.ActualTotal %> <%= workout.Units %></div>
                    <div class="workout__percentage"><%= workout.Percent %>%</div>
                </a>
            </div>
        <% }); %>

    </form>
</section>

<%- include('./_footer'); %>

<script src="/javascript/syncCheckboxes.js"></script>
<script>
    syncCheckboxSetup("#selectAll", "[class*=workout__checkbox]")
</script>

</body>
</html>